body {
  background: #212121;
  padding: 0 24px;
  margin: 0;
  height: 150vh;
  color: white;
  justify-content: center;
  align-items: center;
}
	.center {
  margin: auto;
  width: 60%;
  text-align: center;
  padding: 10px;
}

	.dashboard {
  margin: auto;
  width: 100%;
  text-align: left;
  display: inline-block;
  border-style: solid;
  border-color: #00aaff;
  padding: 10px;
}

.button {
  background-color: #00aaff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.container {
  padding: 20px;
}

.imagecenter{
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}